
@{
    ViewData["Title"] = "Works";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
	<title>Arzu | Works</title>
</head>
<!-- WORKS -->
<body>
<div id="works" class="shane_tm_section active">
	<div class="shane_tm_works">
		<div class="shane_tm_main_title">
			<h3>Creative <span class="coloring">Works</span></h3>
		</div>
		<div class="portfolio_filter">
			<ul>
				<li><a href="#" class="current" data-filter="*">All</a></li>
				<li><a href="#" data-filter=".vimeo">Vimeo Video</a></li>
				<li><a href="#" data-filter=".youtubevideo">YouTube Video</a></li>
				<li><a href="#" data-filter=".popupimage">Popup Image</a></li>
			</ul>
		</div>
		<div class="portfolio_list">
			<ul class="gallery_zoom">
				<li class="vimeo">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div class="video-wrapper">
								<video loop muted autoplay>
									<source src="https://player.vimeo.com/external/390322013.sd.mp4?s=15c5b725ee36b37364ff25c1a709ad4855bc3213&profile_id=165&oauth2_token_id=57447761" type="video/mp4">
								</video>
							</div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Solonick Dance</h3>
								<span>Vimeo</span>
							</div>
						</div>
						<a class="full_link" href="@Url.Action("WorksDetail","WorksDetail")"></a>
					</div>
				</li>
				<li class="youtubevideo">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div><img class="main" src="~/images/portfolio/2.jpg" alt="" /></div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Technology</h3>
								<span>YouTube</span>
							</div>
						</div>
						<a class="full_link popup-youtube" href="https://www.youtube.com/watch?v=iIrSCm_0Sj4"></a>
					</div>
				</li>
				<li class="popupimage">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div><img class="main" src="~/images/portfolio/2.jpg" alt="" /></div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>New Glass</h3>
								<span>Fashion</span>
							</div>
						</div>
						<a class="full_link zoom" href="~/images/portfolio/3.jpg"></a>
					</div>
				</li>
				<li class="popupimage">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div><img class="main" src="~/images/portfolio/4.jpg" alt="" /></div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Yellow Bag</h3>
								<span>Branding</span>
							</div>
						</div>
						<a class="full_link zoom" href="~/images/portfolio/4.jpg"></a>
					</div>
				</li>
				<li class="youtubevideo">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div><img class="main" src="~/images/portfolio/8.jpg" alt="" /></div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Revolution</h3>
								<span>YouTube</span>
							</div>
						</div>
						<a class="full_link popup-youtube" href="https://www.youtube.com/watch?v=iIrSCm_0Sj4"></a>
					</div>
				</li>
				<li class="popupimage">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div><img class="main" src="~/images/portfolio/6.jpg" alt="" /></div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Happy Men</h3>
								<span>Branding</span>
							</div>
						</div>
						<a class="full_link zoom" href="~/images/portfolio/6.jpg"></a>
					</div>
				</li>
				<li class="popupimage">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div><img class="main" src="~/images/portfolio/7.jpg" alt="" /></div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Seaside</h3>
								<span>Nature</span>
							</div>
						</div>
						<a class="full_link zoom" href="~/images/portfolio/7.jpg"></a>
					</div>
				</li>
				<li class="vimeo">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div class="video-wrapper">
								<video loop muted autoplay>
									<source src="https://player.vimeo.com/external/390319820.sd.mp4?s=db3498515d124d308840893802ee139df82aba3a&amp;profile_id=165&amp;oauth2_token_id=57447761" type="video/mp4">
								</video>
							</div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Mondo Alendo</h3>
								<span>Vimeo</span>
							</div>
						</div>
						<a class="full_link" href="@Url.Action("WorksDetail","WorksDetail")"></a>
					</div>
				</li>
				<li class="popupimage">
					<div class="list_inner">
						<div class="image_wrap">
							<img src="~/images/portfolio/3-4.jpg" alt="" />
							<div><img class="main" src="~/images/portfolio/5.jpg" alt="" /></div>
						</div>
						<div class="desc">
							<div class="in">
								<h3>Emotion</h3>
								<span>Branding</span>
							</div>
						</div>
						<a class="full_link zoom" href="~/images/portfolio/5.jpg"></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
<!-- /WORKS -->

