@{
    Layout = null;
}

<!DOCTYPE html>
<title>Title</title>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link rel="stylesheet" type="text/css" href="~/admin_assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin_assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin_assets/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="~/admin_assets/css/iofrm-theme8.css">
</head>
<body>
    <div class="form-body" class="container-fluid">


        @RenderBody()

    </div>
    <script type="text/javascript" src="~/admin_assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/main.js"></script>
</body>
</html>