@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
   
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Your Blog</h4>
            <p class="card-description"> fill the informations </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputCity1">First Name</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="First Name" name="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Last Name" name="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Phone</label>
                    <input type="tel" class="form-control" id="exampleInputCity1" placeholder="Phone" name="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Birthday</label>
                    <input type="date" class="form-control" id="exampleInputCity1" placeholder="Birthday" name="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Age</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Age" name="Title">
                </div>
                     <div class="form-group">
                    <label for="exampleInputCity1">CV Link</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="CV Link" name="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Job</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Job" name="Title">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Address</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4" name="Address"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
           
            </form>
        </div>
        </div>
        </div>
        
 
