
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
	<title>Arzu | About</title>
</head>
<!-- ABOUT -->
<body>
<div name="about" class="shane_tm_section active">
	<div class="shane_tm_about">
		<div class="shane_tm_main_title">
			<h3>About <span class="coloring">me</span></h3>
		</div>
		<div class="main_infos">
			<div class="left">
				<div class="animate_text">
					<span class="cd-headline zoom">
						<!-- ANIMATE TEXT VALUES: zoom, rotate-1, letters type, letters rotate-2, loading-bar, slide, clip, letters rotate-3, letters scale, push,  -->
						<span class="blc">I'm Martin and</span>
						<span class="cd-words-wrapper">
							<b class="is-visible coloring">developer</b>
							<b class="coloring">freelancer</b>
							<b class="coloring">designer</b>
						</span>
					</span>
				</div>
				<p>Hi! My name is Martin Peterson. I am a Web Developer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step of the design process, from discussion and collaboration from discussion and collaboration.</p>
			</div>
			<div class="right">
				<ul>
					<li><p><label>Birthday:</label><span>01.07.1990</span></p></li>
					<li><p><label>Age:</label><span>30</span></p></li>
					<li><p><label>Address:</label><span>Ave 11, New York, USA</span></p></li>
					<li><p><label>Email:</label><span>hello@gmail.com</span></p></li>
					<li><p><label>Phone:</label><span>+77 442 55 57</span></p></li>
					<li><p><label>Website:</label><span>www.domain.com</span></p></li>
				</ul>
			</div>
		</div>
		<div class="shane_tm_services">
			<div class="shane_tm_second_title">
				<span>What I Do</span>
			</div>
			<ul>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/creativity.svg" alt="" />
						<h3>Creative Design</h3>
						<p>Web design is what creates the overall look and feel when you’re using a website. It’s the process of planning...</p>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/code.svg" alt="" />
						<h3>Web Development</h3>
						<p>Web design is what creates the overall look and feel when you’re using a website. It’s the process of planning...</p>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/telegram.svg" alt="" />
						<h3>Brand Identity</h3>
						<p>Web design is what creates the overall look and feel when you’re using a website. It’s the process of planning...</p>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/photoshop.svg" alt="" />
						<h3>Adobe Photoshop</h3>
						<p>Web design is what creates the overall look and feel when you’re using a website. It’s the process of planning...</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="shane_tm_second_title">
			<span>Our Clients</span>
		</div>
		<div class="shane_tm_partners">
			<ul class="owl-carousel">
				<li class="item">
					<img class="dark" src="~/images/partners/1.png" alt="" /> <!-- FOR LIGHT MODE -->
					<img class="light" src="~/images/partners/light/1.png" alt="" /> <!-- FOR DARK MODE -->
				</li>
				<li class="item">
					<img class="dark" src="~/images/partners/2.png" alt="" /> <!-- FOR LIGHT MODE -->
					<img class="light" src="~/images/partners/light/2.png" alt="" /> <!-- FOR DARK MODE -->
				</li>
				<li class="item">
					<img class="dark" src="~/images/partners/3.png" alt="" /> <!-- FOR LIGHT MODE -->
					<img class="light" src="~/images/partners/light/3.png" alt="" /> <!-- FOR DARK MODE -->
				</li>
				<li class="item">
					<img class="dark" src="~/images/partners/4.png" alt="" /> <!-- FOR LIGHT MODE -->
					<img class="light" src="~/images/partners/light/4.png" alt="" /> <!-- FOR DARK MODE -->
				</li>
				<li class="item">
					<img class="dark" src="~/images/partners/5.png" alt="" /> <!-- FOR LIGHT MODE -->
					<img class="light" src="~/images/partners/light/5.png" alt="" /> <!-- FOR DARK MODE -->
				</li>
			</ul>
		</div>
		<div class="shane_tm_second_title">
			<span>What Customers Say</span>
		</div>
		<div class="shane_tm_testimonials">
			<ul class="owl-carousel">
				<li class="item">
					<div class="list_inner">
						<img class="svg" src="~/images/svg/quote-1.svg" alt="" />
						<p class="text">I can't believe I got support and my problem resolved in just minutes from posting my question. Simply amazing team and amazing theme! Thank you! I am happy with my purchase.</p>
						<div class="details">
							<div class="image">
								<div><img class="main" src="~/images/about/2.jpg" alt="" /></div>
							</div>
							<div class="name">
								<h3>Evan Brook</h3>
								<span>Photographer</span>
							</div>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="list_inner">
						<img class="svg" src="~/images/svg/quote-1.svg" alt="" />
						<p class="text">I purchased the theme a few weeks ago. I had some issues with the theme, I asked customer support to help me with and they were helpful and kind to help me with all my problems.</p>
						<div class="details">
							<div class="image">
								<div ><img class="main" src="~/images/about/10.jpg" alt="" /></div>
							</div>
							<div class="name">
								<h3>Moana Gomez</h3>
								<span>Web Designer</span>
							</div>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="list_inner">
						<img class="svg" src="~/images/svg/quote-1.svg" alt="" />
						<p class="text">Awesome template, well written code and looks great on any platform. The customer support is very helpful and as huge asset to this template. I highly recommend all.</p>
						<div class="details">
							<div class="image">
								<div ><img class="main" src="~/images/about/2.jpg" alt="" /></div>
							</div>
							<div class="name">
								<h3>Maria Trump</h3>
								<span>Blogger</span>
							</div>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="list_inner">
						<img class="svg" src="~/images/svg/quote-1.svg" alt="" />
						<p class="text">Really the Code, Support, and design are awesome and its good support they are giving. They give an instant solution to our needs. Really awesome. I will strongly recommend to my friends.</p>
						<div class="details">
							<div class="image">
								<div><img class="main" src="~/images/about/3.jpg" alt="" /></div>
							</div>
							<div class="name">
								<h3>Steve Collins</h3>
								<span>Art. Group</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="shane_tm_second_title">
			<span>Interests</span>
		</div>
		<div class="shane_tm_interests">
			<ul>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/joystick.svg" alt="" />
						<span>Playstation</span>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/book.svg" alt="" />
						<span>Reading</span>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/plane.svg" alt="" />
						<span>Traveling</span>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/code.svg" alt="" />
						<span>Programming</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="shane_tm_second_title">
			<span>Fun Facts</span>
		</div>
		<div class="shane_tm_facts">
			<ul>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/paperw.svg" alt="" />
						<h3>777+</h3>
						<span>Projects Finished</span>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/emoji.svg" alt="" />
						<h3>10K+</h3>
						<span>Happy Clients</span>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/medal.svg" alt="" />
						<h3>188+</h3>
						<span>Awards Won</span>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<img class="svg" src="~/images/svg/favorite.svg" alt="" />
						<h3>4.9</h3>
						<span>User Rating</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="shane_tm_second_title">
			<span>Sertificates</span>
		</div>
		<div class="shane_tm_sertificate">
			<ul class="owl-carousel">
				<li class="item">
					<div class="list_inner">
						<div class="image">
							<img src="~/images/sertificate/600-375.jpg" alt="" />
							<div class="main"><img src="~/images/sertificate/1.jpg" alt="" /></div>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="list_inner">
						<div class="image">
							<img src="~/images/sertificate/600-375.jpg" alt="" />
							<div class="main"><img src="~/images/sertificate/1.jpg" alt="" /></div>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="list_inner">
						<div class="image">
							<img src="~/images/sertificate/600-375.jpg" alt="" />
							<div class="main"><img src="~/images/sertificate/1.jpg" alt="" /></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
<!-- /ABOUT -->

