@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Introduce Yourself</h4>
            <p class="card-description"> fill the informations </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleTextarea1">Content</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4" name="Content"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>

            </form>
        </div>
    </div>
</div>

