@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<!-- Login -->

<div class="row">
    <div class="img-holder">
        <div class="bg"></div>
        <div class="info-holder">
            <h3>Sign in to your account.</h3>
            <p>Access to the most powerfull tool in the entire design and web industry.</p>
            <img src="~/admin_assets/images/login.png" alt="">
        </div>
    </div>
    <div class="form-holder">
        <div class="form-content">
            <div class="form-items">
                <div class="website-logo-inside">
                    <a href="index.html">
                        <div class="logo">
                            <img class="logo-size" src="~/admin_assets/images/logo-light.svg" alt="">
                        </div>
                    </a>
                </div>
                <div class="page-links">
                    <a href="@Url.Action("Login","Login", new { Area = "Admin" })" class="active">Login</a><a href="@Url.Action("Register","Register", new { Area = "Admin" })">Register</a>
                </div>
                <form method="post">
                    <input class="form-control" type="email" name="EMail" placeholder="E-mail Address" required>
                    <input class="form-control" type="password" name="Password" placeholder="Password" required>
                    <div class="form-button">
                        <button id="submit" type="submit" class="ibtn"> Login</button>
                    </div>
                </form>
                <div class="other-links">
                    <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                </div>
            </div>
        </div>
    </div>
</div>