@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PersonalBlogLayout.cshtml";
}
<!--====== Post Area Start ======-->
<div class="photo-stories-heading">
    <h1 class="title"> Blogs </h1>
    <ul class="photo-stories-nav">
        <li data-filter="*" class="active">All Images</li>
        <li data-filter=".nature">Nature</li>
        <li data-filter=".design">Design</li>
        <li data-filter=".travel">Travel</li>
        <li data-filter=".illustration">Illustration</li>
    </ul>
</div>
<section class="post-area no-sidebar">
    <div class="container-fluid">
        <div class="post-area-inner">
            <!-- Entry Post -->
            <div class="entry-posts two-column masonary-posts row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Best Wordpress Theme of 2018
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Nature Photography Best Focus
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Best Wordpress Theme of 2018
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Nature Photography Best Focus
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Tasty Burger Food Review
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Tasty Burger Food Review
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    World Best Travel Place in 2020
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    World Best Travel Place in 2020
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    New Dress For 2021, Exclusive Collection
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    New Dress For 2021, Exclusive Collection
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Best Wordpress Theme of 2018
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="~/personal_blog_assets/img/posts/06.jpg" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="blog-details.html">
                                    Best Wordpress Theme of 2018
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">18-04-21</a>
                                </li>
                                <li class="categories">
                                    <a href="#">Design,</a>
                                    <a href="#">Travel,</a>
                                    <a href="#">photography,</a>
                                    <a href="#">Nature</a>
                                </li>
                            </ul>
                            <p>
                                When it comes to creating is a website for your business, an attractive design
                                will only get you far. With people increasingly using their tablets and
                                smartphones and shop online,...
                            </p>
                            <a href="blog-details.html" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
