
@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
	<title>Arzu | Resume</title>
</head>
<!-- RESUME -->
<body>
<div id="resume" class="shane_tm_section active">
	<div class="shane_tm_resume">
		<div class="shane_tm_main_title">
			<h3>Working <span class="coloring">Process</span></h3>
		</div>
		<div class="experience_list">
			<ul>
				<li>
					<div class="list_inner">
						<div class="first">
							<h3>2018 - Current</h3>
						</div>
						<div class="second">
							<h3>Lead Designer,<br />Artel Corp.</h3>
						</div>
						<div class="third">
							<p>With 20 years experience as a developer, I have acquired the skills and knowledge necessary.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="first">
							<h3>2016 - 2018</h3>
						</div>
						<div class="second">
							<h3>Senior Designer,<br />Artel Corp.</h3>
						</div>
						<div class="third">
							<p>With 20 years experience as a developer, I have acquired the skills and knowledge necessary.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="first">
							<h3>2014 - 2016</h3>
						</div>
						<div class="second">
							<h3>Graphic Designer,<br />Mango Inc.</h3>
						</div>
						<div class="third">
							<p>With 20 years experience as a developer, I have acquired the skills and knowledge necessary.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="first">
							<h3>2012 - 2014</h3>
						</div>
						<div class="second">
							<h3>HTML Developer,<br />Barba Uno.</h3>
						</div>
						<div class="third">
							<p>With 20 years experience as a developer, I have acquired the skills and knowledge necessary.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="shane_tm_button">
			<a href="~/img/resume/resume.jpg" download><span>Download CV</span></a>
		</div>
		<div class="shane_tm_skills">
			<div class="left">
				<div class="shane_tm_second_title">
					<span>Programming Skills</span>
				</div>
				<ul>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">Javascript</span>
								<span class="number">95%</span>
							</div>
							<div class="progress" data-value="95">
								<div class="bar"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">HTML &amp; CSS</span>
								<span class="number">90%</span>
							</div>
							<div class="progress" data-value="90">
								<div class="bar"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">PHP</span>
								<span class="number">80%</span>
							</div>
							<div class="progress" data-value="80">
								<div class="bar"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">WordPress</span>
								<span class="number">85%</span>
							</div>
							<div class="progress" data-value="85">
								<div class="bar"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="right">
				<div class="shane_tm_second_title">
					<span>Language Skills</span>
				</div>
				<ul>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">English</span>
								<span class="number">95%</span>
							</div>
							<div class="progress" data-value="95">
								<div class="bar"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">Spanish</span>
								<span class="number">90%</span>
							</div>
							<div class="progress" data-value="90">
								<div class="bar"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">Italian</span>
								<span class="number">80%</span>
							</div>
							<div class="progress" data-value="80">
								<div class="bar"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<div class="details">
								<span class="name">Japanese</span>
								<span class="number">85%</span>
							</div>
							<div class="progress" data-value="85">
								<div class="bar"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
<!-- /RESUME -->

