
@{
    ViewData["Title"] = "WorksDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
	<title>Arzu | WorksDetail</title>
</head>
<!-- WORKS DETAIL-->
<body>
<div><img class="shane_tm_fixed_image" src="~/images/about/1.jpg" alt="" /></div>
<div class="shane_tm_section active">
	<div class="shane_tm_portfolio_single">
		<div class="hero">
			<div class="video-wrapper">
				<video loop muted autoplay>
					<source src="https://player.vimeo.com/external/390319820.sd.mp4?s=db3498515d124d308840893802ee139df82aba3a&amp;profile_id=165&amp;oauth2_token_id=57447761" type="video/mp4">
				</video>
			</div>
			<div class="overlay"></div>
			<div class="content">
				<h3>Solonick Dance</h3>
				<span>Photography</span>
			</div>
			<div class="shane_tm_down" data-skin="light" data-position="center">
				<div class="line_wrapper">
					<div class="line"></div>
				</div>
			</div>
		</div>
		<div class="main_details">
			<div class="container full">
				<div class="details_inner">
					<div class="left">
						<h3 class="title">Details</h3>
						<ul class="short">
							<li><p><span class="first">Date:</span><span class="second">July 02, 2020</span></p></li>
							<li><p><span class="first">Category:</span><span class="second"><a href="#">Branding</a></span></p></li>
							<li><p><span class="first">Client:</span><span class="second"><a href="#">Lacoste Corp.</a></span></p></li>
						</ul>
						<div class="social">
							<label>Share:</label>
							<ul>
								<li><a href="#">Fb.</a></li>
								<li><a href="#">Tw.</a></li>
								<li><a href="#">In.</a></li>
								<li><a href="#">Be.</a></li>
							</ul>
						</div>
					</div>
					<div class="right">
						<h3 class="title">About the Project</h3>
						<p>Shane was designed to accommodate all creative people; especially so for those deserving of stunning portfolios to showcase their work. Kevin can easily be described as being a particularly elegant..</p>
					</div>
				</div>
			</div>
		</div>
		<div class="jarallax_image">
			<div><img class="image jarallax" src="~/images/slider/7.jpg" alt="" data-speed="0" /></div>
		</div>
		<div class="extra_info">
			<div class="container full">
				<h3>Additional Information</h3>
				<p>Shane was designed to accommodate all creative people; especially so for those deserving of stunning portfolios to showcase their work. Kevin can easily be described as being a particularly elegant, HTML template in keeping with today’s design trends and standards.</p>
			</div>
		</div>
		<div class="image_list">
			<div class="container full">
				<ul>
					<li>
						<div class="inner">
							<div class="image">
								<img src="~/images/slider/1920x1080.jpg" alt="" />
								<div><img class="main" src="~/images/slider/1.jpg" alt="" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="inner">
							<div class="image">
								<img src="~/images/slider/1920x1080.jpg" alt="" />
								<div><img class="main" src="~/images/slider/5.jpg" alt="" /></div>
							</div>
						</div>
					</li>
					<li>
						<div class="inner">
							<div class="image">
								<img src="~/images/slider/1920x1080.jpg" alt="" />
								<div><img class="main" src="~/images/slider/6.jpg" alt="" /></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="pagination">
			<div class="container full">
				<div class="pagination_inner">
					<div class="prev">
						<a href="#">Previous Project</a>
					</div>
					<div class="next">
						<a href="#">Next Project</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<!-- WORKS DETAIL-->
