@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PersonalBlogLayout.cshtml";
}
<div>
        <div class="shane_tm_blog_single">

            <div class="container full">
                <div class="short_info">
                    <ul>
                        <li>
                            <div class="list_inner">
                        <img class="svg" src="~/personal_blog_assets/assets2/images/svg/calendar.svg" alt="" />
                                <span>August 22, 2020</span>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                        <img class="svg" src="~/personal_blog_assets/assets2/images/svg/avatar.svg" alt="" />
                                <span><a href="#">Alan Walker</a></span>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                        <img class="svg" src="~/personal_blog_assets/assets2/images/svg/comment.svg" alt="" />
                                <span><a href="#">1 Comment</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="title">
                    <h3>What is development and branding</h3>
                </div>
                <div class="main_infos">
                    <p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about. We thought a book is quite a wait away and decided to share some of the notes from his New York business meetings meanwhile.</p>
                    <blockquote>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</blockquote>
                    <p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about.</p>
                    <div class="info_images">
                        <ul>
                            <li>
                                <div class="abc">
                                    <div><img class="main" src="~/personal_blog_assets/assets2/images/slider/6.jpg" alt="" /></div>
                                </div>
                            </li>
                            <li>
                                <div class="abc">
                                <div><img class="main" src="~/personal_blog_assets/assets2/images/slider/5.jpg" alt="" /></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about.</p>
                </div>
                <div class="tags">
                    <label>Tags:</label>
                    <ul>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Photography</a></li>
                    </ul>
                </div>
         
            </div>
        </div>
        </div>
    


   
