
@{
    ViewData["Title"] = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
	<title>Arzu | NewsDetail</title>
</head>
<!-- NEWS DETAIL-->
<body>
<div><img class="shane_tm_fixed_image" src="~/images/about/1.jpg" alt="" /></div>

<div id="home" class="shane_tm_section active">
	<div class="shane_tm_blog_single">
		<div class="hero">
			<div><img class="image" src="~/images/slider/1.jpg" alt="" /></div>
		</div>
		<div class="container full">
			<div class="short_info">
				<ul>
					<li>
						<div class="list_inner">
							<img class="svg" src="~/images/svg/calendar.svg" alt="" />
							<span>August 22, 2020</span>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<img class="svg" src="~/images/svg/avatar.svg" alt="" />
							<span><a href="#">Alan Walker</a></span>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<img class="svg" src="~/images/svg/comment.svg" alt="" />
							<span><a href="#">1 Comment</a></span>
						</div>
					</li>
				</ul>
			</div>
			<div class="title">
				<h3>What is development and branding</h3>
			</div>
			<div class="main_infos">
				<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about. We thought a book is quite a wait away and decided to share some of the notes from his New York business meetings meanwhile.</p>
				<blockquote>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</blockquote>
				<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about.</p>
				<div class="info_images">
					<ul>
						<li>
							<div class="abc">
								<div><img class="main" src="~/images/slider/6.jpg" alt="" /></div>
							</div>
						</li>
						<li>
							<div class="abc">
								<div><img class="main" src="~/images/slider/5.jpg" alt="" /></div>
							</div>
						</li>
					</ul>
				</div>
				<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about.</p>
			</div>
			<div class="tags">
				<label>Tags:</label>
				<ul>
					<li><a href="#">Design</a></li>
					<li><a href="#">Branding</a></li>
					<li><a href="#">Media</a></li>
					<li><a href="#">Photography</a></li>
				</ul>
			</div>
			<div class="shane_tm_commentbox_wrap half">
				<div class="inner_wrap">
					<div class="desriptions_wrap">
						<div class="title"><h3>1 Comment</h3></div>
						<div class="comment_texts">
							<div class="wp">
								<div><img class="avatar" src="~/images/about/2.jpg" alt="" /></div>
								<h3><a href="#">A WordPress Commenter</a></h3>
								<span class="date">February 01, 2019</span>
								<p class="text">Hi, this is a comment.<br />To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard. Commenter avatars come from <a href="#">Gravatar</a>.</p>
							</div>
						</div>
					</div>
					<div class="reply_comment_wrap">
						<div class="title"><h3>Leave a Reply</h3></div>
						<div class="input_list_wrap">
							<form action="/" method="post" class="contact_form" id="contact_form">
								<div class="input_row">
									<input type="text" placeholder="Name" />
								</div>
								<div class="input_row">
									<input type="text" placeholder="E-mail" />
								</div>
								<div class="input_row">
									<input type="text" placeholder="Website" />
								</div>
								<div class="input_row">
									<textarea placeholder="Comment"></textarea>
								</div>
								<div class="shane_tm_button_third">
									<a href="#"><span>Submit Comment</span></a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<!-- NEWS DETAIL -->